* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary_yellow: #f1d934;;
    --white: #fff;

}

/* #f1d934; */



section,
nav {
    background-image: linear-gradient(TO RIGHT, rgb(0, 0, 0), #737374);

}
nav{
    border-bottom: 1px white solid;
}

.bg {
    background-color: rgb(57, 240, 225);
}

nav .nav-item a:hover {
    text-decoration: underline;
    text-underline-offset: 1rem;
    color: var(--primary_yellow) !important;
}




.home-text h1,
.home-text p,
.btn_container a,
.about_info h2,
.education_info h2,
.skills h2,.about .education_info p span:first-child {
    color: var(--primary_yellow);
    font-weight: bolder;
    font-family: "League Spartan", sans-serif;

}

nav a{
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
}

.home-text p:nth-child(2),
.home-text p:last-child,
.home-text h5 {
    color: white;

}

.btn_container a,
.about_info h2,
.education_info h2,
.skills h2,
.contact h2 {
    border: 3px solid;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}

.btn_container a:first-child,
.btn_container a:last-child:hover,
.education_info h2,
.contact h2 {
    color: rgb(0, 0, 0);
    background-color: var(--primary_yellow);
    border-color: var(--primary_yellow);
}

.btn_container a:first-child:hover,
.btn_container a:last-child,
.about_info h2 {
    color: var(--white);
    border: --white 2px solid;
    background-color: black;

}

.btn_container a:last-child:hover {
    border-color: rgb(0, 0, 0);
}

.my_photo{
    border: var(--primary_yellow) 15px solid;
}

.about h2 {
    width: fit-content;
}


.skills h2,
.contact h2 {
    width: max-content;
}


.about p {
    color: var(--white);
}


.skills p {
    color: white;
    font-weight: bolder;
}

.skills div {
    color: var(--white);
}




.icons {
    height: 2em;
    margin-bottom: 5px;
}


.progress-bar {
    background-color: var(--primary_yellow);
    border-radius: 50px;
}

.progress {
    height: 1em;
}

.contact_content a {
    text-decoration: none;
    color: var(--white);
    margin-left: 1em;
}

.contact_content div,
.about_info p,
.education_info>div {
    border: 1px solid white;
    border-radius: 1rem;
    background-color: rgba(129, 129, 129, 0.094);
    font-family: "Poppins", sans-serif;

}

@media only screen and (max-width: 768px) {

    .home img{
        height: 30vh;
    }
    .about img{
        display: none;
    }

}





.html .progress-bar {
    width: 80%;
}

.css .progress-bar {
    width: 70%;
}

.javascript .progress-bar {
    width: 50%;
}

.python .progress-bar {
    width: 55%;
}

.cpp .progress-bar {
    width: 40%;
}

.problem_solving .progress-bar {
    width: 90%;
}

.bootstrap .progress-bar {
    width: 70%;
}
.tailwind .progress-bar {
    width: 60%;
}

.jquery .progress-bar {
    width: 50%;
}

